
.price {
  color: #434343;
}

.contact {
  text-align: right;
}

.card {
  gap: 15px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.Content {
  font-size: 20px;
  font-family: "Montserrat Alternates";
  font-weight: 500;
}

.other {
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: 400;
  line-height: normal;
}

@font-face {
  font-family: "Avs-Regular";
  font-style: normal;
  font-format: opentype;
  font-weight: 400;
  src: url("public/fonts/avs.otf") ;
}


.header {
  top: 0px;
  left: 0px;
  width: 1000px;
  height: 500px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.vyazan img {
  top: 0px;
  left: 0px;
  width: 1000px;
  height: 500px;
  position: absolute;
}
.zag {
  gap: 0;
  left: 0px;
  bottom: 0px;
  padding: 20px 50px;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}

h1 {
  color: #000000;  
  width: auto;
  height: auto;
  font-size: 96px;
  font-style: Regular;
  text-align: left;
  font-family: Avs;
  font-weight: 400;
  line-height: normal;
}
.logo {
  top: 0px;
  left: 0px;
  display: flex;
  padding: 20px 50px;
  position: absolute;
  align-items: center;
}

.menu {
  gap: 60px;
  top: 0px;
  left: 398px;
  display: flex;
  padding: 24px 0;
  position: absolute;
  align-items: baseline;
  justify-content: center;
}

.floor {
  gap: 20px;
  top: 497px;
  left: 0px;
  width: 1000px;
  display: flex;
  padding: 60px 50px 30px;
  position: relative;
}
.vyazan-card {
  gap: 15px;
  display: flex;
  flex-direction: column;
}
.nameprice {
  gap: 5px;
  display: flex;
  line-height: normal;
  flex-direction: column;
}


.vyazan-footer {
  top: 1067px;
  left: 0px;
  width: 900px;
  display: flex;
  padding: 30px 50px;
  position: absolute;
  align-items: flex-start;
  justify-content: space-between;
}
.vyazan-about {
  gap: 20px;
  display: flex;
}
.about {
  gap: 10px;
  width: 209px;
  display: flex;
  flex-direction: column;
}

.contact {
  gap: 10px;
  width: 209px;
  display: flex;
  flex-direction: column;
}

